
\.vscode/
\.venv/
*.pyc
__pycache__/
ground/
input/
Pipfile.lock
logs/
data/
pylogs/
Try/logs
Try/training_checkpoints
checkpoints/
Assign02/Facades/
results/
catdog/
BasicGenTrain/
BasicVAE/
Assign03/train_images
Assign03/gen_model
Assign03/gen_images